* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  text-align: center;
  font-size: 30px;
}

header {
  background: #ffcdd2;
}

aside {
  background: #e1bee7;
}

nav {
  background: #bbdefb;
}

article {
  background: #dcedc8;
}

footer {
  background: #ffecb3;
}
